<div class="container">
  <a routerLink="/home" class="link back">Retour</a>
  <div class="callout">
    <h2 class="username">
      <span class="icon material-symbols-outlined"> account_circle </span>
      {{ username() }}
    </h2>
    <div>{{ stats().mastered }} kanjis maîtrisés</div>
    <div>{{ stats().learning }} en cours d'apprentissage</div>
    <div>{{ stats().notSeen }} non vus</div>
  </div>
  <button class="box-btn stroked-primary" (click)="logout()">
    Me déconnecter
  </button>
</div>
