<div class="container">
  <button mat-stroked-button (click)="navigateBack()">Retour</button>

  <app-tile [kanji]="kanjis()[currentIndex()]" />

  <div class="words">
    @for (word of words(); track word.id) {
      <div>
        {{ word.kanji }} ({{ word.kana }} {{ toRomaji(word.kana) }}) :
        {{ word.fr }}
      </div>
    }
  </div>

  <div>
    <button
      mat-flat-button
      (click)="goToPrevious()"
      [disabled]="currentIndex() === 0"
    >
      Précédent
    </button>
    <button
      mat-flat-button
      (click)="goToNext()"
      [disabled]="currentIndex() === kanjis().length - 1"
    >
      Suivant
    </button>
  </div>
</div>
