<div class="container">
  <h2>Inscription</h2>
  <form [formGroup]="signupForm" (submit)="signup()">
    <mat-form-field hideRequiredMarker>
      <mat-label for="username">Username</mat-label>
      <input matInput type="text" id="username" formControlName="username" />
      @if (signupForm.get("username")?.hasError("required")) {
        <mat-error>Username required</mat-error>
      }
      @if (signupForm.get("username")?.hasError("minlength")) {
        <mat-error>Must be at least 3 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label for="password">Password</mat-label>
      <input matInput type="password" id="password" formControlName="password" />
      @if (signupForm.get("password")?.hasError("required")) {
        <mat-error>Password required</mat-error>
      }
      @if (signupForm.get("password")?.hasError("minlength")) {
        <mat-error>Must be at least 3 characters</mat-error>
      }
    </mat-form-field>

    <button mat-flat-button type="submit" [disabled]="signupForm.invalid">
      S'inscrire
    </button>
  </form>

  <button mat-stroked-button (click)="navigate(['login'])">
    J'ai déjà un compte
  </button>
</div>
