<div class="hero">
  <img src="fuji.svg" alt="mont-fuji" />
  <div>Un outil indispensable pour apprendre les caractères japonais</div>
</div>
<div class="features">
  <div class="feature">
    <img src="calligraphy.png" alt="calligraphie" />
    <div>Des fiches détaillées sur les 100 kanjis les plus courants</div>
    <a routerLink="/list">Liste des kanjis</a>
  </div>
  <div class="feature">
    <img src="book.png" alt="livre" />
    <div>
      Un système d’étude par flashcard pour optimiser votre apprentissage. Selon
      vos sessions précédentes, les kanjis vous sont proposés au moment idéal
      pour les retenir.
    </div>
    <a routerLink="/review">Etude par flashcards</a>
  </div>
</div>
