<div class="container">
  <h2>Connexion</h2>
  <form [formGroup]="loginFormGroup" (submit)="login()">
    <mat-form-field hideRequiredMarker>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-flat-button [disabled]="loginFormGroup.invalid">
      Se connecter
    </button>
    @if (invalidCredentials) {
      <mat-error>Invalid credentials</mat-error>
    }
  </form>

  <button mat-stroked-button (click)="navigate(['signup'])">
    Je n'ai pas de compte
  </button>
</div>
