<div class="container">
  <h2>Connexion</h2>
  <form [formGroup]="loginFormGroup" (submit)="login()">
    <div class="form-field">
      <label>Pseudo</label>
      <input type="text" name="username" formControlName="username" />
    </div>

    <div class="form-field">
      <label>Mot de passe</label>
      <input type="password" name="password" formControlName="password" />
    </div>

    <button
      [disabled]="loginFormGroup.invalid"
      type="submit"
      class="stroked-primary"
    >
      Se connecter
    </button>
    @if (invalidCredentials) {
    <div class="form-error">Identifiants incorrects</div>
    }
  </form>

  <div class="no-account">
    <div>Je n'ai pas de compte utilisateur</div>
    <a routerLink="/signup" class="link forward">Créer un compte</a>
  </div>
</div>
