<div class="container narrow">
  <a routerLink="/home" class="link back">Retour</a>
  <h2>Connexion</h2>
  <form [formGroup]="loginFormGroup" (submit)="login()">
    <div class="form-field">
      <label for="username">Pseudo</label>
      <input type="text" id="username" formControlName="username" />
    </div>

    <div class="form-field">
      <label for="username">Mot de passe</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <button
      [disabled]="loginFormGroup.invalid"
      type="submit"
      class="box-btn stroked-primary"
    >
      Me connecter
    </button>
    @if (invalidCredentials) {
      <div class="form-error">Identifiants incorrects</div>
    }
  </form>

  <div class="no-account">
    <div>Je n'ai pas de compte utilisateur</div>
    <a routerLink="/signup" class="link forward">Créer un compte</a>
  </div>
</div>
