<a routerLink="/home" class="link back">Retour</a>

<h2>Etude par flashcard</h2>

<div class="callout">
  <div>
    <div>
      Cette fonctionnalité nécessite un compte utilisateur pour enregistrer
      votre progression.
    </div>
    <a routerLink="/signup" class="link forward">Créer un compte</a>
  </div>
  <div>
    <div>Vous avez déjà un compte ?</div>
    <a routerLink="/login" class="link forward">Me connecter</a>
  </div>
</div>

<h3>Comment ça marche ?</h3>
<p>
  Cette fonctionnalité reprend le
  <strong>système de répétition espacée</strong>, un système extrêmement
  efficace pour l’apprentissage (utilisé par Anki notamment).
</p>
<p>
  Le système vous affiche un kanji, et vous devez essayer de retrouver son sens
  et ses lectures. Indiquez si vous avez trouvé la réponse.
</p>
<p>
  Selon votre réponse, l’application vous affichera à nouveau cette carte dans
  plus ou moins longtemps. Ce système permet d’optimiser votre apprentissage
</p>
<p>
  Utilisez l’app régulièrement (idéalement une fois par jour) vous permettra de
  maîtriser rapidement les principaux kanjis.
</p>
